package icons

templ IconsLoader() {
	@aboutIconLoader()
	@checkedCheckboxIconLoader()
	@downloadIconLoader()
	@favoritesFilledIconLoader()
	@favoritesIconLoader()
	@happyFrogIconLoader()
	@homeIconLoader()
	@optionsIconLoader()
	@optionsIconLoader()
	@profileIconLoader()
	@sadFrogIconLoader()
	@searchIconLoader()
	@shareLinkIconLoader()
	@trashIconLoader()
}
