:root {
  --primary-color: #ffffff;
  --primary-color-20: #ffffff33;
  --primary-color-30: #ffffff4c;
  --primary-color-69: #ffffffb0;

  --secondary-color: #000000;
  --secondary-color-20: #00000033;
  --secondary-color-30: #0000004c;
  --secondary-color-69: #000000b0;

  --accent-color: #d12129;
  --accent-color-20: #d1212933;
  --accent-color-30: #d121294c;
  --accent-color-69: #d12129b0;
}
